.bodyFr {
    background-image: url('home.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texty {
    width: 50%;
    padding: 5% 0 5% 5%;
}

.title1 {
    width: 80%;
    margin-bottom: 3%;
    font-size: 50px;
    font-weight: 700;
    color: black;
}

.special1 {
    color: transparent;
    -webkit-text-stroke: 1px black;
    text-decoration: underline 4px solid;

}

.doomed {
    font-style: italic;
    font-weight: 500;
    width: 70%;
    font-size: 30px;
    line-height: 36px;
    color: white;
}

.description {
    margin-bottom: 3%;
    font-size: 25px;
}

img {
    width: 700px;
    height: 700px;
    object-fit: contain;
}

.homesign-up {
    background: linear-gradient(268.98deg, #5B8F8E 0.48%, #F4B09C 99.27%);
    border: 1px solid #000000;
    border-radius: 49px;
}

button {
    margin-bottom: 3%;
    width: 400px;
    height: 60px;
    border-radius: 67px;
    /* border: none; */
    font-size: 20px;
    color: white;
    font-weight: 500;
}

.login-box {
    display: flex;
    padding-right: 5%;
    justify-content: flex-end;

}

.login1 {
    font-family: 'Inter';
    padding: 10px 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 16px;
    color: #5B8F8E;
}

.login1:hover {
    color: white;
    background-color: #5B8F8E;
    border: none;
}

.homesign-up:hover {
    background: linear-gradient(268.98deg, #F4B09C 0.48%, #5B8F8E 99.27%);
}