.nav {
    width: 95%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    position: fixed;
    border-radius: 20px;
}

.icon-container {
    padding-left: 2%;
}

.nav-items {
    list-style: none;
    padding: 20px;
    display: flex;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
}

.nav-items>li:hover {
    font-style: italic;
    cursor: pointer;
}

.nav-items>li {
    /* color: #542484; */
    color: #FFFF;
    padding: 0px 20px 0px 20px;
}

html {
    scroll-behavior: smooth;
}