.rm {
    background-color: #BCCFC8;
}

.okr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    margin: 20px;
    margin-top:6rem;
    width: 100vh;
    height: 30%;
    background-color: #E7B563;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    border-radius: 66px;
    padding: 30px;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3px 0 3px;
}

.game-img {
    margin: 0;
    width: 50vh;
}

.subtext {
    font-weight: 500;
    font-size: 20px;
}

.game-title {
    font-weight: 700;
    font-size: 60px;
}